body{
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
h1.intro {
    color:#5C5858; 
    font-size: 65px;
    padding-top: 100px;
    margin: 10px;
    padding-bottom: 0px;
    font-family:Montserrat Alternates;
}
h1.namehehe{
    color:#C678A8; 
    font-size: 65px;
    padding-top: 100px;
    margin: 10px;
    padding-bottom: 0px;
    font-family: Pacifico;

}
h1{
    color:#C678A8; 
    font-size: 20px;
    padding-top: 10px;
    margin-left: 15px;
    padding-bottom: 0px;
    font-family: Montserrat Alternates;
    text-align: center;
}


.navbar ul {
  margin: 50;
  padding: 0;
  font-family: Play;
  text-align: center;
}

.navbar li{
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color:  white;
  width:  90px;
  display: block;
  padding:  10px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform:  uppercase;
}
.navbar a:hover:not(.active) {
  background-color: #BF649A;
}

.active {
  background-color: white ;

}
h1.myworks {
    color:#6647E5; 
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 50px;
    font-family: Codystar;
  }
h1.yna{
   color:#C678A8; 
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    font-family: Montserrat Alternates;
    text-align: center;


}
h2{
  color:gray; 
    text-align: center;
    padding-top: 0px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
    font-family:Montserrat Alternates ;
    background-color: pink;
}
   .pics {
    margin-top: 10px;
    margin-left: 20px;
    width: 180px;
    height: 180px;
    border-radius: 120%; 

  }

  .pic {
    margin-top: 0px;
    margin-left: 0px;
    width: 180px;
    height: 180px;
    border-radius: 12%;
  }

.sep {
    float: left;
    margin-left: 40px;
    width: 15%;
  }
.colu {
    float: left;
    margin-left: 50px;
    width: 28%;
  }
. {
    margin: 0px -18px;
    padding: 8px;
  }
.roww {
    margin: 18px;
    padding: 10px;
  }
p.yna{
  color:#281F73; 
  font-size:20px ;
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0px;
    padding-bottom: 0px;
    font-family: Comfortaa;
    text-align: center;

    
}
p.gell{
    color:gray; 
    padding-left: 2px;
    padding-top: 0px;
    margin-right: 200px;
    font-size: 20px;
    padding-bottom: 0px;
    font-family:Montserrat Alternates;
    text-align: center;
  }

   
.butn {
  background-color:#BB2972;
  border: none;
  color: white;
  padding: 0px 0px;s
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  opacity: 0.6;
  transition: 0.3s;